.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./stocks.jpg);
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  color: #0252ff;
  font-weight: 600;
  text-align: center;
  position: relative;
  background: transparent;
  user-select: none;
  z-index: 3;
}

.top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background: rgba(182, 200, 235, 0.6);
  z-index: 1;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
}

.searchArea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #43b06b;
  min-width: 250px;
  color: #0252ff;
}

::placeholder {
  color: #0252ff;
}

input:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 8px;
  color: #0252ff;
}

#clearBtn {
  cursor: pointer;
}
